<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166792340-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166792340-1');
</script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="certification.css">
<script src="https://kit.fontawesome.com/2453a7bdb8.js" crossorigin="anonymous"></script>
<title>Certifications</title>
</head>
<link rel="shortcut icon" type="image/jpg" href="dewal.jpg">




<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><strong>Certifications and Achievements</strong></h1>
    <p class="lead">Intense, prolonged and repeated efforts to accomplish something big!</p>
    <form action="/explore" method="get"><button class="btn btn-outline-secondary dd"><i class="fas fa-long-arrow-alt-left"></i></button></form>
  </div>
</div>



<div class="container">
	<div class="row">
	<div class="col-lg-4"><div class="card" style="width: 18rem;">
  <img src="/logo/jpmc.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Virtual Software Engineering Experience</h5>
    <p class="card-text">Learned the hands-on experience in establishing Financial Data Feeds, Frontend Web Development, and Data Visualization with Perspective. Perspective is an interactive visualization component for large, real-time datasets developed by JPMorgan Chase & Co.</p>
    <a href="/certi/JPMC.pdf" target="_blank" class="btn btn-success mr-2">Certificate</a>
  </div>
</div>
	</div>
	<div class="col-lg-4"><div class="card" style="width: 18rem;">
  <img src="/logo/mta.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Networking Fundamentals with Security</h5>
    <p class="card-text">Learned various Routing and Switching Protocols under Hewlett Packard Enterprise Instructors.Worked on various projects on 
    Routing and IP-Configuration on CISCO Packet Tracer.</p>
    <a href="/certi/Microsoft.pdf" target="_blank" class="btn btn-success mr-2">Certificate</a>
  </div>
</div>
	</div>
	<div class="col-lg-4"><div class="card" style="width: 18rem;">
  <img src="/logo/udemy.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">The Web Developer Bootcamp</h5>
    <p class="card-text">Completed the course with various projects and using stack Express , NodeJS and MongoDB. A very useful course for the beginners
    . The topics included were both Front-End and Back-End with APIs and Authentication.</p>
    <a href="/certi/webdev.pdf" target="_blank" class="btn btn-success mr-2">Certificate</a>      
  </div>
</div>
	</div>
</div>
</div>
</br>
</br>
</br>





<div class="container">
	<div class="row">
	<div class="col-lg-4"><div class="card" style="width: 18rem;">
  <img src="/logo/captain.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">C Programming</h5>
    <p class="card-text">Learned C Programming Language and worked on DevC++ IDE. The overall experience was good. The course covered all the important
    concepts of the language and the idea of pointers was discussed well.</p>
    <a href="/certi/c.pdf" target="_blank" class="btn btn-success mr-2">Certificate</a>
  </div>
</div>
	</div>
	<div class="col-lg-4"><div class="card" style="width: 18rem;">
  <img src="/logo/captain.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">JAVA Programming</h5>
    <p class="card-text">Learned JAVA in detail and from beginner to advanced. Tried my hands on Object Oriented Programming for the first time.
    Overall experience was good! Used Eclipse IDE for windows.</p>
    <a href="/certi/java.pdf" target="_blank" class="btn btn-success mr-2">Certificate</a>
  </div>
</div>
	</div>
	<div class="col-lg-4"><div class="card" style="width: 18rem;">
  <img src="/logo/captain.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Python Programming</h5>
    <p class="card-text">Python is the most popular language in the current time that made me try my hands on it as well. I understood well why it has 
    gained so much importance and fame. A very powerfull programming language. Used PyCharm IDE for Windows.</p>
    <a href="#" class="btn btn-success mr-2">Certificate</a>      
  </div>
</div>
	</div>
</div>
</div>
</br>
</br>
</br>





<div class="container">
	<div class="row">
	<div class="col-lg-4"><div class="card" style="width: 18rem;">
  <img src="/logo/techmeet.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Runner Up : Youth Parliamentary Debate</h5>
    <p class="card-text">The topic for the debate was "Citizenship Ammendment Bill 2016" and I spoke against the motion. My fellow debaters were 
    really worth appreciating. Amongst them were two debaters from ISC Inter State Debate Competition.</p>
    <a href="#" class="btn btn-success mr-2">Certificate</a>
  </div>
</div>
	</div>
	<div class="col-lg-4"><div class="card" style="width: 18rem;">
  <img src="/logo/techmeet.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Second Runner Up : Science Expo</h5>
    <p class="card-text">The model I displayed was a self balancing Ardu-Drone made out of wooden rulers. It was made using 
    Arduino UNO R3 microcontroller and was controlled by a 6-Channel Transmitter Reciever.</p>
    <a href="#" class="btn btn-success mr-2">Certificate</a>
  </div>
</div>
	</div>
	<div class="col-lg-4"><div class="card" style="width: 18rem;">
  <img src="/logo/techmeet.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Rank 5 : Blind Coding</h5>
    <p class="card-text">This was a quite interesting competition in which both NIT and IIIT participated. The task was to solve and type the 
    solution of the given program in the PC with the moniter been turned off.</p>
    <a href="#" class="btn btn-success mr-2">Certificate</a>      
  </div>
</div>
	</div>
</div>
</div>
</br>
</br>
</br>




<div class="container">
	<div class="row">
	<div class="col-lg-4"><div class="card" style="width: 18rem;">
  <img src="/logo/cetpa.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Data Structures</h5>
    <p class="card-text">I learned the major Data Structures in JAVA and their industrial uses. The instructor was very humble and was always
    ready to solve the doubts. This course helped me alot in the field of Competitive Coding.</p>
    <a href="#" class="btn btn-success mr-2">Certificate</a>
  </div>
</div>
	</div>
	<div class="col-lg-4"><div class="card" style="width: 18rem;">
  <img src="/logo/techexplica.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Networking</h5>
    <p class="card-text">Learned various Routing and Switching Protocols under Hewlett Packard Enterprise Instructors.Worked on various projects on 
    Routing and IP-Configuration on CISCO Packet Tracer.</p>
    <a href="#" class="btn btn-success mr-2">Certificate</a>
  </div>
</div>
	</div>
	<div class="col-lg-4"><div class="card" style="width: 18rem;">
  <img src="/logo/nit.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mr.Fresher 2018</h5>
    <p class="card-text">The winner was announed after three rounds of competition.</p>     
  </div>
</div>
	</div>
</div>
</div>
