<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>Thank You!</title>

<script src="https://kit.fontawesome.com/2453a7bdb8.js" crossorigin="anonymous"></script>
</head>
<link rel="shortcut icon" type="image/jpg" href="dewal.jpg">

<link rel="stylesheet" href="contact.css">
<h1>THANK YOU</h1>

<form action="/explore" method="get"><button class="btn btn-outline-secondary dd"><i class="fas fa-long-arrow-alt-left"></i></button></form>
<div>
<p>Contact - +91-6388372926</br>Email- dewalchaturvediofficial@gmail.com</p>
</br>
</br>
<p>Let's build a connection!</p>
</div>
<div class="container">
<div class="row">
<div class="col-lg-4"><a href="https://www.facebook.com/dewal.chaturvedi.3/"><i class="fab fa-facebook-square"></i></a></div>
<div class="col-lg-4"><a href="https://www.instagram.com/sarcastic_soul___/"><i class="fab fa-instagram"></i></div>
<div class="col-lg-4"><a href="https://www.linkedin.com/in/dewal-chaturvedi-2b1a84192/"><i class="fab fa-linkedin"></i></div>
</div>
</div