<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166792340-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166792340-1');
</script>

<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Dewal's Portfolio</title>
<link rel="shortcut icon" type="image/jpg" href="dewal.jpg">
</head>
<link rel="stylesheet" href="format.css">


<div>
<div class="row">
<div class="col-lg-7"><img src="dewal.jpg"></div>
<div class="col-lg-5"><div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dewal Chaturvedi</h1>
    <p class="lead"><strong>Student , Programmer , Developer , Learner</strong></p>
  </div>
</div></div>
</div>
</div>
<div id="intro" class="container"><h2 id="introhead">Know Me!</h2>	
<p>Hello, I am <strong>Dewal Chaturvedi</strong>, an undergraduate student at <strong>National Institute of Technology Manipur</strong>. I am pursuing <strong>Bachelor of Technology in Electronics and Communication Engineering</strong>. My academics include playing with circuits and processors while my rest of the time is fully dedicated to coding and developing.I am a <strong>passionate programmer</strong> and a tech enthusiast. Always looking for a key exposure in the fields of <strong>Software Development and Web Development</strong>.
</p>
</br>
<form action="/explore" method="get">
<button class="btn btn-primary btn-lg">Explore!</button></form>
</div>
</br>
</br>
</br>	
</div>
