<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166792340-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166792340-1');
</script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>Projects</title>

<script src="https://kit.fontawesome.com/2453a7bdb8.js" crossorigin="anonymous"></script>
</head>
<link rel="shortcut icon" type="image/jpg" href="dewal.jpg">

<link rel="stylesheet" href="projects.css">
<h1>PROJECTS</h1>
</br>
<form action="/explore" method="get"><button class="btn btn-outline-secondary dd"><i class="fas fa-long-arrow-alt-left"></i></button></form>
</br>
<h2 class="container">Wooden Quadcopter</h2></br>
<img src="drone.jpg" class="img-thumbnail"></br></br>
<p class="container">The frame of the copter was made up of two wooden rulers , of which , COM we had calculated roughly. The microcontroller we used was Arduino UNO R3.
There were various components used like Electronic Speed Controllers(ESC) , kV 1400 Brushless Motors , Lithium ion battery , 6-Channel Transmitter Reciever and Gyroscope
 for self balancing feature. The copter was shown at TECHMEET 2018 and we scored rank 3 in the Science Expo. </p>
</br>
</br>



<h2 class="container">Obstacle Avoiding Rover</h2></br>
<img src="rover.jpg" class="img-thumbnail"></br></br>
<p class="container">The structure of the rover was created using PVC pipes and hinges. The microcontroller used was Arduino UNO R3. The rover was made using various components 
which included Ultrasonic sensors , DHC 11 Bluetooth Module , Motor Driver , A power supply of 5V , we used PowerBanks to give supply to the rover.
Apart from detecting the obstacles using Ultrasonic sensors , it was designed such a way that it can cross any type of terrain while maintaing the balance. </p>

</br>
</br>



<h2 class="container">E-Portfolio</h2></br>
<img src="portfolio.png" class="img-thumbnail"></br></br>
<p class="container">This is my E-Portfolio website. This is my first project in the field of Web Development. The stack I used was NodeJS and Express. There wasn't need of any 
database for this kind of website therefore I didn't used MongoDB. This website is created using HTML , CSS , Bootstrap and JS. The photos are imported from Google and Unsplash.
The icons used are from FontAwesome. </p>
