
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166792340-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166792340-1');
</script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>Skills</title>
<script src="https://kit.fontawesome.com/2453a7bdb8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="skills.css">
<script src="https://kit.fontawesome.com/2453a7bdb8.js" crossorigin="anonymous"></script>
</head>
<link rel="shortcut icon" type="image/jpg" href="dewal.jpg">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><strong>Skills</strong></h1>
    <form action="/explore" method="get"><button class="btn btn-outline-secondary dd"><i class="fas fa-long-arrow-alt-left"></i></button></form>
  </div>
</div>
<h2>Software Development</h2>
</br>
</br>
<div class="container">
<div class="row">
<div class="col-lg-4"><img src="java.jpg" class="img-thumbnail"></div>
<div class="col-lg-4"><img src="C-P.jpg" class="img-thumbnail"></div>
<div class="col-lg-4"><img src="python.jpg" class="img-thumbnail"></div>
</div>
</br>
</br>
<div class="row">
<div class="col-lg-4"><img src="ds.png" class="img-thumbnail"></div>
<div class="col-lg-4"><img src="algo.png" class="img-thumbnail"></div>
<div class="col-lg-4"><img src="net.png" class="img-thumbnail"></div>
</div>
</div>
</br>
</br>



<h2>Web Development</h2>
</br>
</br>
<div class="container">
<div class="row">
<div class="col-lg-4"><img src="html.png" class="img-thumbnail"></div>
<div class="col-lg-4"><img src="css.jpg" class="img-thumbnail"></div>
<div class="col-lg-4"><img src="js.png" class="img-thumbnail"></div>
</div>
</br>
</br>
<div class="row">
<div class="col-lg-4"><img src="bootstrap.png" class="img-thumbnail"></div>
<div class="col-lg-4"><img src="node.png" class="img-thumbnail"></div>
<div class="col-lg-4"><img src="jq.png" class="img-thumbnail"></div>
</div>
<div class="row">
<div class="col-lg-4"><img src="exp.png" class="img-thumbnail"></div>
<div class="col-lg-4"><img src="mongo.jpg" class="img-thumbnail"></div>
</div>
</br>
</br>


</div>

<h2>Other</h2>
</br>
</br>
<div class="container">
<div class="row">
<div class="col-lg-4"><img src="ard.jpg" class="img-thumbnail"></div>
<div class="col-lg-4"><img src="dec.png" class="img-thumbnail"></div>
<div class="col-lg-4"><img src="deb.jpg" class="img-thumbnail"></div>
</div>
</br>
</br>
