body{
	margin: 0px;
	background-color: rgb(210,180,140);
}
.jumbotron{
	margin-top: 200px;
}
h1{
	font-family: 'Playfair Display', serif;
	letter-spacing: 2px;
}
.lead{
	margin-left: 2px;
}
#intro{
	border:solid white 1px;
	margin-top: 200px;
	padding-top: 50px;
	padding-left:50px;
	padding-right: 50px;
	padding-bottom: 50px;
	font-size: 30px;
	color:white;
}
#introhead{
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
	margin-bottom: 50px;
}
.btn-lg{
	background-color: black;
	border:0px;
}
